# Default ignored files
/shelf/
/workspace.xml
/AmazonStore/.gradle
/AmazonStore/build/
/AmazonStore/build.gradle
/AmazonStore/gradle/
/AmazonStore/gradlew/
/AmazonStore/gradlew.bat
/AmazonStore/settings.gradle
/AmazonStore/src/
/AmazonStore/target/filesgenerates